<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.kasandco.shoplist">

    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.android.vending.BILLING"/>
    <uses-permission android:name="com.google.android.gms.permission.AD_ID"/>

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <application
        android:name="com.kasandco.shoplist.App"
        android:allowBackup="false"
        android:fullBackupContent="@xml/backup_descriptor"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FamilyFinance">
        <activity
            android:name=".app.pro.ProActivity"
            android:exported="false" />

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-3940256099942544~3347511713" />

        <service
            android:name="com.kasandco.shoplist.app.list.ListFSM"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name="com.kasandco.shoplist.app.user.group.UserGroupActivity"
            android:exported="false" />
        <activity
            android:name="com.kasandco.shoplist.app.user.settings.UserSettingsActivity"
            android:exported="true" />
        <activity
            android:name="com.kasandco.shoplist.app.user.login.LoginActivity"
            android:exported="true" />
        <activity
            android:name="com.kasandco.shoplist.app.settings.SettingsActivity"
            android:exported="true" />
        <activity
            android:name="com.kasandco.shoplist.app.item.ItemActivity"
            android:exported="true" />
        <activity
            android:name="com.kasandco.shoplist.app.list.ListActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="OPEN_LIST_ACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.kasandco.shoplist.app.splash.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.kasandco.shoplist"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>